<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avengers</title>
    <style>body{
      background-color: rgba(195, 0, 255, 0.733);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  img{
      height: 240px;
      border-radius: 10px;
      margin: 10px;
  }
  </style>
</head>
<body>
    <h1>Welcome to Image Gallery</h1>
    <div>
        <img src="https://shailaja-assignment2.s3.jp-tok.cloud-object-storage.appdomain.cloud/1.jpg" alt="dress" srcset="">
        <img src="https://shailaja-assignment2.s3.jp-tok.cloud-object-storage.appdomain.cloud/2.jpg" alt="dress" srcset="">
        <img src="https://shailaja-assignment2.s3.jp-tok.cloud-object-storage.appdomain.cloud/3.jpg" alt="dress" srcset="">
        <img src="https://shailaja-assignment2.s3.jp-tok.cloud-object-storage.appdomain.cloud/4.jpg" alt="dress" srcset="">
        <img src="https://shailaja-assignment2.s3.jp-tok.cloud-object-storage.appdomain.cloud/5.jpg" alt="dress" srcset="">
    </div>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "fe91df96-fb37-4bfd-8da0-144864e9bd24", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "097a4530-9875-4c01-8cd5-53b7d78e1448", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>