*{
margin:0;
padding:10px;
font-family: Century Gothic;
}

header{
background : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://nutrition-flask-shailaja.s3.jp-tok.cloud-object-storage.appdomain.cloud/dashb.jpg');
background-size: cover;
background-position:center;
height:100vh;
}

ul{
float:right;
list-style-type:none;
}

ul li{
display:inline-block;
}

ul li a{
text-decoration:none;
padding:10px 20px;
border: 1px solid transparent;
colour:#fff
transition:0.6s ease;
}

ul li a:hover{
background-color:#fff;
color:#000;
}

ul li.active a{
background-color:#fff;
color:#000;
}

.title{
position:absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}

.title{
color:#fff;
font-size:50px;
}

.a1{
position:absolute;
top: 40%;
left: 50%;
transform:translate(-50%,-50%);
}

.a2{
position:absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);
}

.a3{
position:absolute;
top: 60%;
left: 50%;
transform:translate(-50%,-50%);
}

.a4{
position:absolute;
top: 70%;
left: 50%;
transform:translate(-50%,-50%);
}

.a5{
position:absolute;
top: 80%;
left: 50%;
transform:translate(-50%,-50%);
}
